/* Globales */

* {
  &::after, &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Texto Unisex*/

.welcome-text {
  stroke: #000;
  padding: 30px;
}

@media (max-width: 393px) {
  .welcome-text {
    margin-top: 150px;
  }
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Lato';
  color: #333;
}

/*****CART*****/

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000;
  right: 0;

  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}

@media (max-width: 393px) {
  .icon-cart {
    display: none;
  }
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;

  &:hover {
    stroke: red;
    cursor: pointer;
  }
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;

  h3 {
    font-size: 20px;
    font-weight: 700;
  }
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

/*Buscador*/

.buscador {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  background-color: #f5f5f5;
  margin: 0 auto;
  max-width: 8000px;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }

  input[type="text"] {
    display: flex;
    width: 60%;
    height: 50%;
    font-size: 1.2em;
    padding: 0.5em;
    border: none;
  }
}

a {
  text-decoration: none;
  color: none;

  &:link {
    color: rgb(5, 5, 13);
  }

  &:visited, &:hover {
    color: rgb(0, 0, 0);
  }

  &:active {
    color: rgb(61, 17, 17);
  }
}

.container-icon-minimized {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media (max-width: 393px) {
  .count-products {
    display: none;
  }
}

#contador-productos-minimized {
  font-size: 12px;
}

.container-cart-products-minimized {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Main */

.container-category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 30px;
}

@media (max-width: 393px) {
  .container-category {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 393px) {
  .container-items {
    grid-template-columns: repeat(1, 1fr);
    padding: 35px;
  }
}

.item {
  border-radius: 10px;

  &:hover {
    box-shadow: 0 10px 20px rgba(56, 54, 54, 0.2);
  }

  img {
    width: 100%;
    height: 375px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
  }

  figure {
    overflow: hidden;
  }

  &:hover img {
    transform: scale(1.2);
  }
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

/*
 @media (max-width: 393px) {
   .buscador{
     display: none;
   }
 }
*/

/* Contacto Footer*/

.contacto {
  padding: 50px;
  background-color: #000;
  color: white;
  display: flex;
  margin-top: 500px;
}

.productoSeleccionado {
  justify-content: center;
  padding-top: 50px;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 50px;
  width: 100%;
  height: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.189);
  display: flex;
}

.producto-imagen {
  justify-content: center;
  width: 800px;
}

.carrousel {
  width: 100%;
}

.conteCarrousel {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.itemCarrousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.itemCarrouselTarjeta {
  width: 100%;
  height: 100%;
}

.itemCarrouselArrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  > i:hover {
    cursor: pointer;
  }
}

.conteCarrouselController {
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: space-evenly;

  > a {
    text-decoration: none;
    font-size: 2em;
    color: grey;
  }
}

.itemCarrouselArrows > a > i {
  color: white;
}

.productoInfo {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 393px) {
  .productoSeleccionado {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    height: 1050px;
  }

  .itemCarrouselTarjeta {
    width: 100%;
  }

  .conteCarrousel {
    height: 100%;

    /* Checkear */
    max-height: 400px;
    width: 100%;
  }

  .producto-imagen {
    width: 500px;
    height: 500px;
  }

  .carrousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .tallesProducto {
    margin-bottom: 100px;
  }
}


/*Talles*/

.tallesProducto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.talleTexto {
  margin-top: 100px;
}

.talle {
  margin: 5px;
  padding: 8px 15px;
  font-size: 14px;
  flex-basis: calc(33% - 10px);

  /* Calcula el ancho de 2 columnas con margen */
  max-width: calc(50% - 10px);

  /* Limita el ancho de 2 columnas con margen */
  background-color: white;
  border: 1px solid black;

  &:hover, &:focus {
    background-color: black;
    border: 1px solid white;
    color: white;
  }
}

.botonesProducto {
  text-align: center;
}

.buttonProducto {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: white;
}

/*Precios card*/

.precio {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: larger;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 50px;
}

/* Card */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid grey;
  width: 750px;
  height: 250px;
  margin: 0 auto;
  position: relative;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
}

.card-info {
  flex-grow: 1;
}

.card {
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }
}

@media (max-width: 393px) {
  .card {
    width: 80% !important;
  }

  .tituloCart {
    font-size: 14px;
  }
}


.quantity {
  display: flex;
  align-items: center;

  input {
    width: 40px;
    text-align: center;
  }

  button {
    padding: 5px 10px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
}

/*Costos*/

.costs {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

/*Titulo cart*/

.tituloCart {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.back {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

/*Navbar*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  height: 75px;
  line-height: 75px;
  background: #404040;

  .navbar-brand {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
  }

  .nav-list {
    display: flex;
    list-style-type: none;

    .nav-item {
      cursor: pointer;
      height: 100%;
      padding: 0 30px;
      transition: .4s;

      &:hover {
        background: #671e1e;
      }
    }

    .nav-link {
      color: #f1f1f1;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

@media (max-width: 393px) {
  .navbar-brand {
    order: 3;
  }
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: #333;
}

.nav-list li:hover .menu-vertical {
  display: block;
}

.menu-vertical li {
  &:hover {
    background-color: #671e1e;
  }

  a {
    display: block;
    color: white;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
  }
}

@media (max-width: 935px) {
  nav {
    padding: 0 2rem;

    .nav-list .nav-item {
      padding: 0 20px;
    }
  }
}

@media (max-width: 675px) {
  nav {
    .nav-list {
      display: grid;
      position: absolute;
      background: #404040;
      width: 100%;
      top: 75px;
      left: 0;
      transform: translateY(-100%);
      z-index: -1;

      /*Este es el problema Desplegado: 0 No depslegado: -1*/
      transition: .6s;

      .nav-item {
        padding-left: 35px;
      }
    }

    .navbar-toggler {
      display: grid !important;
    }
  }
}

nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;

  .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
  }
}

@media (max-width: 393px) {
  .navbar-toggler {
    order: 3;
  }
}

input {
  display: none;

  &:checked ~ nav {
    .nav-list {
      transform: translateY(0);
      z-index: 2;
    }

    .navbar-toggler {
      margin-top: 35px;

      .bar {
        &:nth-child(1) {
          position: absolute;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

/* Menú hamburguesa */

/*Sobre nosotros */

.sobreNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.tituloSobre, .parrafoSobre {
  margin: 25px;
}

.direccion {
  font-weight: bold;
}

.maps {
  display: flex;
  justify-content: center;
  width: 400px;
  max-width: 800px;
  height: 400px;
  margin: 25px;
}

.route{
  margin: 25px;
}